services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "5500:5500"
    environment:
      - PORT=5500
    volumes:
      - .:/usr/src/app
    depends_on:
      - db
  db:
    image: postgres
    environment:
      POSTGRES_DB: example
      POSTGRES_USER: example
      POSTGRES_PASSWORD: example
    ports:
      - "5432:5432"
    restart: always

  adminer:
    image: adminer
    restart: always
    ports:
      - "13590:8080"
    depends_on:
      - db
    
